@model BudgetTracker.Models.ScheduleViewModel

<h2>Schedule</h2>

<!-- Form to Add New Task -->
<div class="row mb-4">
    <div class="col-md-6">
        <form method="post" asp-action="AddTask" asp-controller="Schedule">
            <div class="form-group">
                <label for="Name">Task Name</label>
                <input type="text" class="form-control" name="Name" id="Name" required />
            </div>
            <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control" name="Date" id="Date" required />
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add Task</button>
        </form>
    </div>
</div>



<!-- Current Week Tasks -->
<div class="row">
    <div class="col-md-6">
        <h4>Tasks for This Week</h4>
        <ul class="list-group">
            @foreach (var task in Model.CurrentWeekTasks)
            {
                <li class="list-group-item">
                    <strong>@task.Name</strong> - @task.Date.ToShortDateString()
                </li>
            }
        </ul>
    </div>



    <!-- Upcoming Week Tasks -->
    <div class="col-md-6">
        <h4>Upcoming Tasks</h4>
        <ul class="list-group">
            @foreach (var task in Model.UpcomingWeekTasks)
            {
                <li class="list-group-item">
                    <strong>@task.Name</strong> - @task.Date.ToShortDateString()
                </li>
            }
        </ul>
    </div>
</div>

        <!-- New Section: Future Tasks -->
        <div class="row">
            <div class="col-md-6">
                <h4>Future Tasks</h4>
                <ul class="list-group">
                    @foreach (var task in Model.FarthestTasks)
                    {
                        <li class="list-group-item">
                            <strong>@task.Name</strong> - @task.Date.ToShortDateString()
                        </li>
                    }
                </ul>
            </div>
        </div>   